<style>
    #map {
        height: 180px;
    }
</style>

<div id="map"></div>

<script type="text/javascript">
    // Tọa độ trung tâm bản đồ (TP.HCM)
    const center = [11.542506447486353, 107.80100868121876];

    var map = L.map('map').setView([11.542506447486353, 107.80100868121876], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Thêm marker
    L.marker(center).addTo(map)
        .bindPopup('Trường CD CN và KT Bảo Lộc')
        .openPopup();
</script>