<style>
    .post-line-2-wrapper {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
</style>

<div class="post-line-2-wrapper">
    <div style="text-align: center;">
        <h1 style="font-weight: bold; font-size: 26px; color: #338ed8;">
            CỔNG THÔNG TIN
        </h1>
    </div>
    <br>
    <div style="display: flex;">
        <div style="flex: 1; padding-right: 20px">
            <a href="" target="_blank">
                <img src="/assets/image/cong_dao_tao.jpg" alt="Cổng thông tin đào tạo">
            </a>
        </div>

        <div style="flex: 1; padding-right: 20px">
            <a href="" target="_blank">
                <img src="/assets/image/cong_tuyen_sinh.jpg" alt="Cổng thông tin tuyển sinh">
            </a>
        </div>

        <div style="flex: 1; padding-right: 20px">
            <a href="http://giangvien.blc.edu.vn/login" target="_blank">
                <img src="/assets/image/cong_giang_vien.jpg" alt="Cổng giảng viên">
            </a>
        </div>

        <div style="flex: 1; padding-right: 20px">
            <a href="http://qldt.blc.edu.vn/Login.aspx" target="_blank">
                <img src="/assets/image/cong_sinh_vien.jpg" alt="Cổng sinh viên">
            </a>
        </div>

        <div style="flex: 1">
            <a href="" target="_blank">
                <img src="/assets/image/cong_truc_tuyen.jpg" alt="Cổng trực tuyến">
            </a>
        </div>
    </div>
</div>