<style>
    .post-line-3-wrapper {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .img-department {
        border-radius: 1rem;
        border: 3px solid #ff6600;
    }
</style>

<div class="post-line-3-wrapper">
    <div style="text-align: center;">
        <h1 style="font-weight: bold; font-size: 26px; color: #338ed8;">
            NGÀNH ĐÀO TẠO
        </h1>
    </div>
    <br>
    <div style="display: flex;">
        <div style="flex: 1; padding-right: 20px">
            <a href="/index/index/index/dao-tao/chuong-trinh-dao-tao/cac-nganh-khoa-kinh-te">
                <picture>
                    <img class="img-department" src="/assets/image/view/kt.jpg" alt="Khoa Kinh Tế">
                </picture>
            </a>
        </div>
        <div style="flex: 1; padding-right: 20px">
            <a href="/index/index/index/dao-tao/chuong-trinh-dao-tao/cac-nganh-khoa-cong-nghe-thong-tin">
                <picture>
                    <img class="img-department" src="/assets/image/view/cntt.jpg" alt="Khoa CNTT">
                </picture>
            </a>
        </div>
        <div style="flex: 1; padding-right: 20px">
            <a href="/index/index/index/dao-tao/chuong-trinh-dao-tao/cac-nganh-khoa-co-dien">
                <picture>
                    <img class="img-department" src="/assets/image/view/cd.jpg" alt="Khoa Cơ Điện">
                </picture>
            </a>
        </div>
        <div style="flex: 1; padding-right: 20px">
            <a href="/index/index/index/dao-tao/chuong-trinh-dao-tao/cac-nganh-khoa-chan-nuoi-thu-y">
                <picture>
                    <img class="img-department" src="/assets/image/view/cn.jpg" alt="Khoa Chăn Nuôi">
                </picture>
            </a>
        </div>
        <div style="flex: 1; padding-right: 20px">
            <a href="/index/index/index/dao-tao/chuong-trinh-dao-tao/cac-nganh-khoa-trong-trot-va-qldd">
                <picture>
                    <img class="img-department" src="/assets/image/view/ttqldd.jpg" alt="Khoa TTQLDD">
                </picture>
            </a>
        </div>
    </div>
</div>