<style>
    .custom-image {
        width: 100%; /* Đảm bảo chiều rộng bằng container */
        height: 600px; /* Đặt chiều cao cố định */
        object-fit: cover; /* Cắt bớt phần dư mà không làm méo hình */
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">
        {{ collection:slide_show_main_page }}
        <div class="carousel-item active">
            {{ image_show }}
                <img src="{{  value || url }}" class="d-block w-100 custom-image" alt="{{ alt }}">
            {{ /image_show }}
        </div>
    {{ /collection:slide_show_main_page }}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>