<style>
    .footer {
        margin-top: 28px;
        border-top: 1px solid rgb(226, 226, 226);
        text-align: center;
        font-weight: 200;
        font-size: 15px;
    }
</style>

<div class="footer">
    <br>
    <div>
        Địa chỉ: Số 454 Trần Phú, Phường 2, TP.Bảo Lộc, Lâm Đồng - www.blc.edu.vn
    </div>
    <div>
        Bộ phận Website: 0979 11 07 07 - Email: itvanmai@gmail.com
    </div>
    <div>
        Bản quyền thuộc về trường Cao Đẳng Công Nghệ và Kinh Tế Bảo Lộc - Khoa Công nghệ thông tin và Ngoại ngữ
    </div>
    <br>
</div>