<style>
  .navbar-nav .nav-link {
    color: white !important;  
    padding: 5px 10px;
    white-space: nowrap;
    /* Ngăn chữ bị gãy dòng */
  }

  .navbar-nav {
    flex-wrap: wrap;
    /* Cho phép các item xuống dòng khi thiếu chỗ */
    justify-content: center;
  }

  .navbar {
    background-color: #0474DA;
  }

  .dropdown-menu {
    background-color: #f7873d;
    line-height: 2rem;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363);
    font-size: 13px;
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: #8dc8ff;
    color: #FFF;
    /* Màu nền khi hover */
  }

  .custom-navbar {
    margin-top: 23px;
    font-weight: bold;
    font-size: 13px;
  }

  .dropdown-item {
    position: relative;
  }

  .dropdown-item {
    color: #FFF;
  }

  /* Dropdown menu on hover for larger screens */
  @media (min-width: 992px) {
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
  }
</style>

<div class="custom-navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      {{# ------------------------------------- Navbar button on small screen ------------------------------------- #}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: #ffffff;"></span>
      </button>
      {{# ------------------------------------- Navbar button on small screen ------------------------------------- #}}

      {{# ------------------------------------- Navbar content ------------------------------------- #}}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          {{ nav:collection:pages include_home="true"}}
          <li class="nav-item dropdown">
            {{# ------------------------------------- Home Icon ------------------------------------- #}}
            {{ if slug == "home"}}
            <a class="nav-link" href="{{ url }}">
              <i class="fas fa-home"></i>
            </a>
            {{# ------------------------------------- Head Title ------------------------------------- #}}
            {{ else }}
            <a href="{{ url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ title }}
            </a>
            {{ /if }}
            {{# ------------------------------------- Menu Title (dropdown menu) ------------------------------------- #}}
            {{ if children }}
            <ul class="dropdown-menu">
              {{ children }}
              <li>
                <a href="{{ url }}" class="dropdown-item">
                  {{ title }}
                </a>
              </li>
              {{ /children }}
            </ul>
            {{ /if }}
          </li>
          {{ /nav:collection:pages }}
        </ul>
      </div>
      {{# ------------------------------------- Navbar content ------------------------------------- #}}

    </div>
  </nav>
</div>